.prof-ul {
  margin-bottom: 50px;
}
.section-profile .container {
  display: flex;
  flex-direction: column;
}

.section-profile {
  padding-top: 94px;
  padding-bottom: 94px;
}
.item-list {
  display: flex;
  justify-content: space-between;
}
