.portfolio-signature {
  font-weight: bold;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.relative-text-portfolio {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 1.555;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-signature-two {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
